h1 {
    color: purple;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    background: linear-gradient(to bottom right, purple, rgb(228, 137, 228));
    border-radius: 25px;
    padding: 20px;
}

body {
    background-color: rgb(223, 143, 223);
}

table {
    border-radius: 10px;
}

tr th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: purple;
}

tr td {
    background-color: rgb(247, 247, 247);
}

td button {
    text-decoration: none;
    border: none;
    outline: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(173, 1, 173);
    padding: 8px;
    border-radius: 10px;
}

button a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

form button {
    border: none;
    outline: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(173, 1, 173);
    padding: 8px;
    border-radius: 10px;
}
